.env
backend/.env
__pycache__/
*.pyc
node_modules/
dist/
build/
.venv/
venv/

# Database & Runtime files
*.sqlite3
*.pickle
*.log
backend/logs/

# Server-specific configs
backend/nginx/nginx.conf
docker-compose.override.yml